<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/checkbox.css">
    <title>AmpHR | Zaloguj</title>
</head>

<body>
    <!-- <video autoplay muted loop id="background">
        <source src="../asset/login-background.mp4" type="video/mp4">
    </video> -->

    <div id="hero-container">
        <div id="logo"></div>
        <h2>Witaj ponownie!</h2>
        <input type="text" name="email" id="email-input" placeholder="Adres email">
        <input type="password" name="password" id="password-input" placeholder="Hasło">
        <div id="remember-me-container">
            <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="remember-me" type="checkbox"/>
            <label class="cbx" for="remember-me"><span>
            <svg width="12px" height="10px">
                <use xlink:href="#check-4"></use>
            </svg></span><span>Zapamiętaj</span></label>
            <svg class="inline-svg">
                <symbol id="check-4" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                </symbol>
            </svg>
            </div>
        </div>
        <button id="login-btn">Zaloguj</button>
        <a href="/" id="reset-password-link">Zapomniałeś hasła?</a>
    </div>
    <script src="../script/login.js"></script>
</body>

</html>